<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
<menu id="root-menu" label="MENU">
  <item label="Beeper">
    <action name="Execute">
      <command>/usr/local/bin/beeper-launch</command>
    </action>
  </item>
  <item label="Terminal">
    <action name="Execute">
      <command>xterm</command>
    </action>
  </item>
</menu>
</openbox_menu>
